<?xml version="1.0" encoding="utf-8" ?>
<SAMLConfiguration xmlns="urn:componentspace:SAML:2.0:configuration">
  <ServiceProvider Name="placeholder" Description="MVCOktaServiceProvider" AssertionConsumerServiceUrl="~/UserAccount/SAML/AssertionConsumerService" LocalCertificateFile="transformed" LocalCertificatePassword="placeholder" />
  <PartnerIdentityProviders>
    <!-- Okta -->
    <PartnerIdentityProvider Name="name_placeholder" Description="Okta" SignAuthnRequest="true" SignLogoutRequest="true" SignLogoutResponse="true" WantSAMLResponseSigned="true" WantLogoutRequestSigned="true" WantLogoutResponseSigned="true" SingleSignOnServiceBinding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST" SingleSignOnServiceUrl="placeholder" SingleLogoutServiceBinding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST" SingleLogoutServiceUrl="placeholder" PartnerCertificateFile="placeholder" />
  </PartnerIdentityProviders>
</SAMLConfiguration>
